asyncpg
python-decouple
pgvector
psycopg[binary]
torch --index-url https://download.pytorch.org/whl/cpulangchain
groq
langserve[all]
langchain-groq
langchain_postgres
langchain-community
langchain-huggingface
jupyter
tiktoken
fastapi
asyncpg
alembic
sqlalchemy[asyncio, mypy]
uvicorn
redis